@tailwind base;

@tailwind components;

@tailwind utilities;

.gradient {
  background-color: #232d7c;
  background-image: linear-gradient(
    to bottom left,
    rgb(25, 33, 108) 50%,
    rgb(45, 58, 140) 50%
  );
}

svg text {
  user-select: none;
  pointer-events: none;
}

.transition {
  transition: all 0.15s;
}

ul,
p {
  @apply mb-3;
}

.docs-menu li {
  @apply overflow-hidden;
}

.docs-menu {
  position: sticky;
  top: 1rem;
}

.icon {
  display: none;
}

.w-72 {
  width: '18rem';
}

.documentation h1:hover .icon,
.documentation h2:hover .icon,
.documentation h3:hover .icon,
.documentation h4:hover .icon,
.documentation .icon:hover {
  @apply float-left block;
  margin-left: -2.5rem;
  padding-right: 2.5rem;
}

.icon-link {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgCiAgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9ImN1cnJlbnRDb2xvciI+CiAgPHBhdGggZD0iTTMuOSwxMkMzLjksMTAuMjkgNS4yOSw4LjkgNyw4LjlIMTFWN0g3QTUsNSAwIDAsMCAyLDEyQTUsNSAwIDAsMCA3LDE3SDExVjE1LjFIN0M1LjI5LDE1LjEgMy45LDEzLjcxIDMuOSwxMk04LDEzSDE2VjExSDhWMTNNMTcsN0gxM1Y4LjlIMTdDMTguNzEsOC45IDIwLjEsMTAuMjkgMjAuMSwxMkMyMC4xLDEzLjcxIDE4LjcxLDE1LjEgMTcsMTUuMUgxM1YxN0gxN0E1LDUgMCAwLDAgMjIsMTJBNSw1IDAgMCwwIDE3LDdaIiAvPgo8L3N2Zz4=')
    center center no-repeat;
}

.documentation h1 .icon {
  height: 2.8rem;
}

.documentation h2 .icon {
  height: 2.8rem;
}

.documentation h3 .icon {
  height: 2.3rem;
}

.documentation h4 .icon {
  height: 2.2rem;
}

/**
 * Documentation
 */

.documentation > * {
  @apply mx-4 text-xl;
}

.documentation h1,
.documentation h2,
.documentation h3,
.documentation h4 {
  @apply mt-2 mb-4 font-semibold;
}

.documentation h1:not(:first-child),
.documentation h2:not(:first-child),
.documentation h3:not(:first-child),
.documentation h4:not(:first-child) {
  @apply mt-6;
}

.documentation h1 {
  @apply text-4xl leading-tight;
}

.documentation h2 {
  @apply text-3xl;
}

.documentation h3 {
  @apply text-2xl;
}

.documentation h4 {
  @apply text-xl;
}

.documentation a {
  @apply text-light-blue-vivid-700;
}

.documentation a:hover {
  @apply underline;
}

.documentation li {
  @apply ml-4;
  list-style: disc;
}
.documentation li li {
  @apply ml-6;
  list-style: circle;
}
.documentation li li li {
  list-style: square;
}

.documentation blockquote {
  @apply mb-4;
}

.documentation p > code {
  @apply text-base px-1 inline-flex rounded bg-cool-grey-050 text-cool-grey-900;
}

.documentation blockquote > * {
  @apply m-0 pb-1 border-l-4 border-cool-grey-100 pl-3 pt-2 mb-2 text-cool-grey-600;
}

.documentation pre {
  @apply text-base rounded;
  margin: 0 auto !important;
  margin-bottom: 1rem !important;
}

@screen sm {
  .documentation > * {
    @apply mx-auto w-5/6;
  }
}
@screen md {
  .documentation > * {
    @apply w-4/5;
  }
}
@screen lg {
  .documentation > * {
    @apply w-3/4;
  }
}
